{% extends "_base.html" %}

{% block content %}


<main>
    <div class="pictos" style="justify-content: flex-start;">
        <img src="/static/picto/comida.png">
        <h1>Comedor</h1>
    </div>
    <div class="buttons">
        <a role="button" href="/comedor/newMenu">
            <div class="pictos">
                <img src="/static/picto/botón de añadir.png">
            </div>
            Nuevo Menú
        </a>
        <a role="button" href="/comedor/newMenu">
            <div class="pictos">
                <img src="/static/picto/comida.png">
                <img src="/static/picto/qm.png">
            </div>
            ¿Que hay de comer?
        </a>
    </div>
    <h2>Menús</h2>
    <table border="" style="width: 300px;">
        <thead>
            <tr>
                <th>Menú</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            {% for menu in menus %}
                <tr>
                    <th scope="row">
                        {{ menu.name }}
                    </th>
                    <td>
                        <a href="" role="button">Abrir</a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</main>

{% endblock %}
