{% extends "_base.html" %}

{% block content %}

<main>
    <div class="pictos" style="justify-content: flex-start;">
        <img src="/static/picto/comida.png">
        <h1>Comedor</h1>
    </div>
    <div class="buttons">
        <a class="viewbtn" href="{{url_for('comedor.menu')}}">
            <b>Nuevo Menú</b>
            <div class="pictos">
                <img src="/static/picto/botón de añadir.png">
            </div>
        </a>
        <a class="viewbtn" href="{{url_for('comedor.plato')}}">
            <b>Nuevo Plato</b>
            <div class="pictos">
                <img src="/static/picto/botón de añadir.png">
            </div>
        </a>
        <a class="viewbtn" href="{{url_for('comedor.quehay')}}">
            <b>¿Que hay de comer?</b>
            <div class="pictos">
                <img src="/static/picto/comida.png">
                <img src="/static/picto/qm.png">
            </div>
        </a>
        <div class="listview">
            <b>Menús</b>
            {% for menu in menus %}
                <a href="{{url_for('comedor.menu', id=menu.id)}}">
                    <b>
                        {{ menu.name }}
                    </b>
                </a>
            {% endfor %}
        </div>
        <div class="listview">
            <b>Platos</b>
            {% for plato in platos %}
                <a href="{{url_for('comedor.plato', id=plato.id)}}">
                    <b>
                        {{ plato.fecha.strftime("%d/%m/%Y") }}
                    </b>
                    <span>
                        {{ plato.menu.name }}
                    </span>
                </a>
            {% endfor %}
        </div>
    </div>
</main>

{% endblock %}
