{% extends "_base.html" %}

{% block content %}

<main>
    <form method="POST">
        <fieldset>
            <legend>
                {% if plato %}
                    Editar Plato
                {% else %}
                    Nuevo Plato
                {% endif %}
            </legend>
            {{ form.hidden_tag() }}
            <table>
                {% for field in form if field.type != 'CSRFTokenField' %}
                    <tr>
                        <th scope="col">{{ field.label }}{% if field.flags.required %}<span style="color: red">*</span>{% endif %}</th>
                        <td>{{ field() }}</td>
                    </tr>
                {% endfor %}
            </table>
            <div class="buttons">
                <button class="viewbtn" type="submit">
                    <b>Guardar</b>
                    <div class="pictos">
                        <img src="{{url_for('static', filename='picto/botón de editar.png')}}">
                    </div>
                </button>
                {% if plato %}
                    <a class="viewbtn">
                        <b>Borrar</b>
                        <div class="pictos">
                            <img src="{{url_for('static', filename='picto/botón de borrar todo.png')}}">
                        </div>
                    </a>
                {% endif %}
                <a class="viewbtn" href="{{url_for('comedor.index')}}">
                    <b>Cancelar</b>
                    <div class="pictos">
                        <img src="{{url_for('static', filename='picto/botón de salir.png')}}">
                    </div>
                </a>
            </div>
        </fieldset>
    </form>
</main>

{% endblock %}
