<!doctype html>
<html lang="es">
  <head>
    <title>Figaró</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <meta name="color-scheme" content="light dark">
    <link rel="manifest" href="{{url_for('static', filename='manifest.json')}}">
    <link rel="icon" type="image/png" href="{{url_for('static', filename='logo-nopad.png')}}">
    <link rel="apple-touch-icon" href="{{url_for('static', filename='logo.png')}}">

    <!-- <link rel="stylesheet" href="{{url_for('static', filename='vendor/blades/blades.min.css')}}"> -->
    <link rel="stylesheet" href="{{url_for('static', filename='custom.css')}}">
    <!-- <link rel="stylesheet" href="{{url_for('static', filename='vendor/leaflet/leaflet.css')}}"> -->
    <link rel="stylesheet" href="{{url_for('static', filename='vendor/toastr/toastr.min.css')}}">

    <!-- <script src="{{url_for('static', filename='vendor/htmx.min.js')}}"></script> -->
    <!-- <script src="{{url_for('static', filename='vendor/leaflet/leaflet.js')}}"></script>   -->
    <script src="{{url_for('static', filename='vendor/jquery/jquery-3.7.1.slim.min.js')}}"></script>
    <script src="{{url_for('static', filename='vendor/toastr/toastr.min.js')}}"></script>  
    <script src="{{url_for('static', filename='loader.js')}}"></script>

    {% block head %}{% endblock %}
  </head>

  <body style="--pico-primary-background: #23579f;">
    <div id="page-loader" class="loader-overlay">
      <div class="loader-spinner"></div>
      <b style="font-size: 25px;">Cargando...</b>
      <a onclick="document.getElementById('page-loader').classList.add('hidden');" style="text-decoration: none; opacity: 0.3;">Forzar</a>
    </div>

    <header>
      <a href="{{url_for('index.index')}}" style="color: white;text-decoration: none;font-weight: bold;display: flex;gap: 5px;align-items: center;">
        <small style="font-size: 12px; text-align: center;">16w<br>.eu</small>
        Figaró
      </a>
      {% block breadcrumbs %}
        <nav class="breadcrumbnav">
          <ol class="breadcrumb">
              {% for crumb in breadcrumbs if crumb.url != "/" %}
                  {% if loop.last %}
                      <!-- Último elemento: Página actual -->
                      <li class="breadcrumb-item active" aria-current="page">
                          {{ crumb.title }}
                      </li>
                  {% else %}
                      <!-- Elementos intermedios con enlace -->
                      <li class="breadcrumb-item">
                          <a href="{{ crumb.url }}">{{ crumb.title }}</a>
                      </li>
                  {% endif %}
              {% endfor %}
          </ol>
        </nav>
      {% endblock %}
      <b style="text-align: right;" onclick="location.reload();">{{g.user_name | default("@")}}</b>
    </header>
    
    {% block content %}{% endblock %}
    {% block foot %}{% endblock %}
  </body>
</html>